$articlePrimary: #282529;
$boxGradient: linear-gradient(45deg, rgba(199, 187, 149, 1) 22%, rgba(225, 216, 187, 1) 100%);
$buttonGradient: linear-gradient(297deg, rgba(183, 172, 137, 1) 33%, rgba(225, 216, 187, 1) 96%);